
@{
    ViewBag.Title = "WebServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Web Services</h2>

<button class="btn btn-dark mx-auto" onclick="window.location.href='api/web/animes/lista'">Todos Animes em JSON</button>

<button class="btn btn-dark mx-auto" onclick="window.location.href='json'">Forma de cadastro de anime em JSON</button>
